/* make a variable  ?*/
--root{
  --bg-color: #66347F;
  --Text-color: green;
  --Text-Color-small: #fff;
  }
.Container{
 padding-left: 100px;
 background-color: var(--bg-color);
 padding-right: 100px;
 font-family: 'Baloo Paaji 2', cursive;
}




.dotted{
  background-color: #66347F;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  
  margin-left: 1px;
  margin-right: 1px;
}

.dottedContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  padding: 0px 600px;

}

ul{
  list-style-type: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--Text-color);  
}
.header li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0 20px;
}
.header li a{
  color:var(--Text-color);
  text-decoration: none;
}
.header li a:hover{
  color: #66347F;
}
.header .logo{
  font-size: 30px;
}


.DataList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  color:#000
}


.Home{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  text-align: center;
  background-color: #f5f5f5;
}


.Home h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color:#66347F;
}
.Home button{
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.footer {
  text-align: center;
  padding: 0px 450px;
  
}

.footer  h5 {
  font-size:23px
}

.footer a{
  color: #000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  margin: 0 10px;
}



